Repository zoorush/landing-page: changes, and which lint-staged commands are due for each by the changed paths.
All: stylelint --fix, stylelint --syntax=scss --fix, prettier --write --ignore-unknown

Firebase deploy
  .firebaserc
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  firebase.json
  package.json
  pnpm-lock.yaml
  src/firebase/client.ts
Due: prettier --write --ignore-unknown

Fix firebase deploy
  .firebaserc
  angular.json
  firebase.json
  package.json
  pnpm-lock.yaml
  src/app/app.module.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  src/firebase/client.ts
Due: prettier --write --ignore-unknown

update lockfile
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Add bootstrap
  angular.json
  package.json
  pnpm-lock.yaml
  src/app/app.component.ts
  src/app/app.module.ts
  src/app/smart-contract/services/contract.service.spec.ts
  src/app/smart-contract/services/contract.service.ts
  src/polyfills.ts
Due: prettier --write --ignore-unknown

Change deployment
  angular.json
  src/app/app-routing.module.ts
  src/app/app.module.ts
Due: prettier --write --ignore-unknown

Fix firebase
  src/app/app.component.ts
  tsconfig.app.json
Due: prettier --write --ignore-unknown

Paths...
  tsconfig.app.json
Due: prettier --write --ignore-unknown

Remove firebase from appComponent
  src/app/app.component.ts
  src/app/app.module.ts
Due: prettier --write --ignore-unknown

Preserve symlinks
  angular.json
Due: prettier --write --ignore-unknown

Strip analytics
  src/app/app.module.ts
Due: prettier --write --ignore-unknown

Switch to npm
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  angular.json
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

Fix routing
  firebase.json
  src/app/layouts/layout-routing.module.ts
Due: prettier --write --ignore-unknown

Fix background color
  src/app/app.component.html
  src/app/bayc/bayc-carousel.scss
  src/app/bayc/bayc-colors.scss
  src/app/bayc/bayc-gal.module.scss
  src/app/bayc/bayc-header.component.scss
  src/app/bayc/bayc.module.scss
  src/app/home/home.component.html
  src/app/layouts/footer/footer.component.html
  src/app/layouts/footer/footer.component.scss
  src/app/layouts/full/full.component.html
  src/app/layouts/sidebar/sidebar.component.html
  src/app/layouts/topbar/topbar.component.html
  src/app/shared/menu-items/menu-items.ts
  src/assets/_variables.scss
  src/assets/images/background-color.png
  src/assets/styles/pages.scss
  src/assets/styles/variable.scss
  src/styles.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

Add assets
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
Due: prettier --write --ignore-unknown

Fix build
  package-lock.json
  package.json
Due: prettier --write --ignore-unknown

Fix build
  .github/workflows/firebase-hosting-merge.yml
  .github/workflows/firebase-hosting-pull-request.yml
  src/app/home/home.component.html
  src/app/home/home.module.ts
  src/app/home/roadmap/roadmap.component.html
  src/app/home/roadmap/roadmap.component.scss
  src/app/home/roadmap/roadmap.component.spec.ts
  src/app/home/roadmap/roadmap.component.ts
  src/app/home/section/section.component.html
  src/app/layouts/full/full.component.html
  src/app/layouts/full/full.component.ts
  src/app/layouts/header/header.component.html
  src/app/layouts/header/header.component.ts
  src/app/layouts/layout-routing.module.ts
  src/app/layouts/sidebar/sidebar.component.html
  src/app/layouts/sidebar/sidebar.component.ts
  src/app/layouts/topbar/topbar.component.html
  src/app/shared/divider/divider.component.scss
  src/app/shared/menu-items/menu-items.ts
  src/app/shared/social-icons/social-icons.component.html
  src/index.html
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

***Animations***
  src/app/app.module.ts
  src/app/home/hero/hero.component.html
  src/app/home/home.component.html
  src/app/home/home.component.scss
  src/app/home/home.module.ts
  src/app/home/nfts/nfts.component.html
  src/app/home/section/section.component.html
  src/app/home/team/team.component.html
  src/app/home/team/team.component.scss
  src/app/home/team/team.component.ts
  src/app/layouts/footer/footer.component.html
  src/app/layouts/full/full.component.html
  src/app/layouts/full/full.component.ts
  src/app/layouts/layout.module.ts
  src/app/shared/divider/divider.component.html
  src/app/shared/fade-in/fade-in.component.html
  src/app/shared/fade-in/fade-in.component.scss
  src/app/shared/fade-in/fade-in.component.ts
  src/app/shared/shared.module.ts
  src/app/shared/sticker/sticker.component.scss
  src/app/shared/sticky-header/sticky-header.component.html
  src/app/shared/sticky-header/sticky-header.component.scss
  src/app/shared/sticky-header/sticky-header.component.ts
  src/assets/images/gifs/big.gif
  src/assets/images/gifs/medium.gif
  src/assets/images/gifs/small.gif
  src/assets/styles/pages.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

***Animations***
  src/app/home/hero/hero.component.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

***Animations***
  src/assets/images/nfts/0.png
  src/assets/images/nfts/14.png
  src/assets/images/nfts/15.png
  src/assets/images/nfts/20.png
  src/assets/images/nfts/3.png
  src/assets/images/nfts/31.png
  src/assets/images/nfts/37.png
  src/assets/images/nfts/38.png
  src/assets/images/nfts/40.png
  src/assets/images/nfts/41 2.png
  src/assets/images/nfts/41.png
  src/assets/images/nfts/54 2.png
  src/assets/images/nfts/54.png
  src/assets/images/nfts/6.png
  src/assets/images/nfts/63.png
  src/assets/images/nfts/64.png
  src/assets/images/nfts/65.png
  src/assets/images/nfts/67.png
  src/assets/images/nfts/9 2.png
  src/assets/images/nfts/9.png
  src/assets/images/nfts/91.png
  src/assets/images/nfts/96.png
  src/assets/images/nfts/97.png
Due: prettier --write --ignore-unknown

***Animations***
  src/app/home/home.component.html
  src/app/layouts/footer/footer.component.html
  src/app/layouts/footer/footer.component.scss
  src/app/shared/components/sticker/sticker.component.html
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

***Animations***
  src/app/app-routing.module.ts
  src/app/layouts/abstract-navbar.component.ts
  src/app/layouts/layout-routing.module.ts
  src/app/layouts/sidebar/sidebar.component.html
  src/app/layouts/sidebar/sidebar.component.ts
  src/app/layouts/topbar/topbar.component.html
  src/app/shared/services/menu-items/menu-items.ts
Due: prettier --write --ignore-unknown

***Animations***
  src/app/home/hero/hero.component.html
  src/app/home/hero/hero.component.scss
  src/app/layouts/abstract-navbar.component.ts
  src/app/layouts/full/full.component.html
  src/app/layouts/full/full.component.ts
  src/app/layouts/sidebar/sidebar.component.html
  src/app/layouts/sidebar/sidebar.component.ts
  src/app/shared/services/menu-items/menu-items.ts
  src/styles.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

***Animations***
  src/app/home/home-routing.module.ts
  src/app/layouts/layout-routing.module.ts
  src/app/mini-game/mini-game-routing.module.ts
  src/app/mini-game/mini-game.component.css
  src/app/mini-game/mini-game.component.html
  src/app/mini-game/mini-game.component.spec.ts
  src/app/mini-game/mini-game.component.ts
  src/app/mini-game/mini-game.module.ts
Due: stylelint --fix, prettier --write --ignore-unknown

***Animations***
  src/app/home/roadmap/roadmap.component.html
  src/app/home/team/team.component.html
  src/app/mini-game/mini-game.component.html
  src/app/mini-game/mini-game.module.ts
Due: prettier --write --ignore-unknown

***Animations***
  src/app/home/roadmap/roadmap.component.html
Due: prettier --write --ignore-unknown

***Animations***
  src/app/mini-game/mini-game.component.ts
  src/app/mini-game/mini-game.module.ts
Due: prettier --write --ignore-unknown

Add nx.dev properly in preparation for new app
  apps/zoorush/src/index.html
  firebase.json
Due: prettier --write --ignore-unknown

Add nx.dev properly in preparation for new app
  apps/zoorush/src/assets/game/index.html
Due: prettier --write --ignore-unknown

Add nx.dev properly in preparation for new app
  apps/zoorush/src/app/layouts/full/full.component.html
  apps/zoorush/src/assets/game/index.html
  apps/zoorush/src/assets/styles/variable.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

Add nx.dev properly in preparation for new app
  apps/zoorush/src/app/home/home.component.html
  apps/zoorush/src/app/layouts/full/full.component.html
  apps/zoorush/src/assets/styles/variable.scss
Due: stylelint --syntax=scss --fix, prettier --write --ignore-unknown

Path conditions:
  stylelint --fix: any of: *.css
  stylelint --syntax=scss --fix: any of: *.scss
  prettier --write --ignore-unknown: any of: *
